<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linfeng.saatisticsdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.linfeng.statisticsdemo.service.AppStatisticsService"
            android:process="com.test.statisticsdemo" />

        <activity android:name="com.linfeng.statisticsdemo.client.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.linfeng.statisticsdemo.client.ui.page.profile.ProfileActivity" />

    </application>

</manifest>